body {
    background: bisque;
    margin: 50px;
}

h1 {
    margin-bottom: 50px;
    text-align: center;
    border: 1px solid white;
    border-radius: 4px;
    padding: 20px;
    text-decoration: none;
    color: black;
    background: white;
}

.nav {
    display: flex;
    justify-content: space-evenly;
    margin: 50px;
}

.nav a, .description {
    border: 1px solid white;
    border-radius: 4px;
    padding: 20px;
    text-decoration: none;
    color: black;
    background: white;
}

.croissant-photo {
    display: block;
    margin: 0 auto;
    max-width: 500px;
    border-radius: 10px;
    border: 20px solid white;
}

.description {
    font-size: 20px;
    line-height: 1.5;
}